__pycache__/
.streamlit/
venv/
node_modules
.env.local
.env
.next
.DS_Store
.next/

# Next.js build output
.next/

# Duplicate nested project folder
k-man-island/

k-man-island-inner/


tsconfig.tsbuildinfo


k-man-island-inner/


k-man-island-inner/

